/* Start Variables */
  :root {
    /* primary colors*/
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  /* Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
  /* font */
  --Font-size: 13px;
  }
/* End Variables */
* {
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: unset;
  margin: unset;
}
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: var(--Light-grayish-blue);
  width: 100%;
  
}
.section {
  margin: 50px 5% 0px 5%;
  width: 90%;
  display: grid;
  grid-gap: 30px 40px;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "div-1 div-1 div-1 div-2 div-2 div-3 div-3 div-3"
  "div-4 div-4 div-5 div-5 div-5 div-3 div-3 div-3";
}
/* Start card styling */
.card {
  background-color: rgb(69, 95, 95);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.58);
}
.card .container img {
  border-radius: 50%;
  height: 35px;
  margin: 30px 0px 5px 30px;
  border: 2px solid hsla(0, 0%, 81%, 0.589);
}
.card .container .img-text {
  display: inline-block;
  margin-top: 0;
  margin-left: 5px;
  position: relative;
  top: -10px;
  line-height: 1.3;
}
.card .container .img-text h4 {
  color: var(--White);
  font-weight: 200;
}
.card .container .img-text p {
  color: hsla(0, 0%, 81%, 0.43);
}
.card .container .section-text {
  padding: 15px 30px 25px 30px;

}
.card .container .section-text h2 {
  color: var(--White);
  margin-bottom: 20px;
  line-height: 1.4;
}
.card .container .section-text p {
  color: hsla(0, 0%, 81%, 50%);
  line-height: 1.4;
}
/* End card styling */

.card-1 {
  grid-area: div-1;
  grid-column: 1 / 4;
  background-color: var(--Moderate-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 81%;
  background-size: 140px;
  width: 727px;
}
.card-2 {
  grid-area: div-2;
  grid-column: 4 / 7;
  width: 330px;
  background-color: var(--Very-dark-grayish-blue)
}
.card-3 {
  grid-area: div-3;
  grid-column: 7 / 9;
  background-color: white;
  width: 308px;
}
.section .card-3 .container .img-text h4 {
  color: var(--Very-dark-blackish-blue);
}
.section .card-3 .container .img-text p {
  color: var(--Light-gray)
}
.section .card-3 .container h2 {
  color: var(--Very-dark-grayish-blue)
}
.section .card-3 .container .d3-p {
  color: hsla(217, 30%, 14%, 60%);
  /* font-size: var(--Font-size); */
  line-height: 1.5;
}
.section .card-4 {
  grid-area: div-4;
  grid-column: 1 / 3;
  background-color: var(--White);  
  width: 300px;
}
.section .card-4 .container .img-text h4 {
  color: var(--Very-dark-blackish-blue);
}
.section .card-4 .container .img-text p {
  color: var(--Light-gray)
}
.section .card-4 .container h2 {
  color: var(--Very-dark-grayish-blue);

}
.section .card-4 .container p {
  color: hsla(217, 30%, 14%, 60%);
  font-size: var(--Font-size);
  line-height: 1.5;
}
.card-5 {
  grid-area: div-5;
  grid-column: 3 / 7;
  background-color: var(--Very-dark-blackish-blue);
  width: 760px;

}
.card-5 .container img {
  border: 2px solid var(--Moderate-violet);
}
@media (max-width: 750px) {
  .card {
    width: 100%;
  }
  .section {
    grid-template-areas: 
  "div-1 div-1 div-1 div-1 div-1 div-1 div-1 div-1"
  "div-2 div-2 div-2 div-2 div-2 div-2 div-2 div-2" 
  "div-3 div-3 div-3 div-3 div-3 div-3 div-3 div-3 "
  "div-4 div-4 div-4 div-4 div-4 div-4 div-4 div-4"
  "div-5 div-5 div-5 div-5 div-5 div-5 div-5 div-5";
  grid-template-rows: auto auto auto auto auto;
  }
  .card {
    width: 88%;
  }
  .card-1 {
    grid-area: div-1;
    grid-column: 1 / 9;
  }
  .card-2 {
    grid-area: div-2;
    grid-column: 1 / 9;
  }
  .card-3 {
    grid-area: div-3;
    grid-column: 1 / 9;
  
  }
  .card-4 {
    grid-area: div-4;
    grid-column: 1 / 9;
    min-width: 153%;
  }
  .card-4 .container h2 {
    width: 100%;
  }
  .card-4 .container p {
    width: 100%;
  }
  .card-5 {
    grid-area: div-5;
    grid-column: 1 / 9;
  }
}